.wrapper {
    height: 100%;
    position: sticky;
    top: 0;
}

.container {
    padding: 0 10px;
    height: 760px;
    border-right: 1px solid var(--primary);
}

.sidebar {
    display: flex;
    cursor: pointer;

    .icons,
    .menu {
        height: 70px;
        display: flex;
        align-items: center;

        .link {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
        }
    }

    .icons {
        width: 70px;
        height: 70px;
        font-size: 30px;
        justify-content: center;

        .ico {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
        }

        .toggle {
            font-size: 35px;
        }
    }

    .menu {
        // display: none;

        .text {
            width: 210px;
        }
    }
}

.sidebar:hover {
    border-radius: 5px;
    background-color: var(--bg-session);
}

.active {
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--primary);
}

.hide {
    display: none !important;
}

hr {
    margin: 20px 0;
}
