.wrapper {
    height: 70px;
    background-color: var(--bg-header);
    position: sticky;
    top: 0;
    z-index: 1;
}

.container {
    display: flex;
    align-items: center;
    margin: 0 4rem;
    justify-content: space-between;
}

// ============ [Navbar] ============

.left,
.right {
    display: flex;
}

.left {
    .search {
        display: flex;
        margin: 13px 0;
        border: 3px solid var(--border);
        border-radius: 10px;

        input {
            padding: 0 10px;
            width: 300px;
            height: 40px;
            border: none;
            background: none;
            color: #fff;
            font-weight: 700;
            &:focus {
                outline: none;
            }
        }

        .search-btn {
            color: var(--border);
            height: 40px;
            width: 40px;
            border: none;
            align-items: center;
            display: flex;
            justify-content: center;
            background: none;
        }
    }
}

.right {
    .icon {
        height: 40px;
        width: 40px;
        align-items: center;
        display: flex;
        justify-content: center;
        border: 3px solid var(--border);
        border-radius: 10px;
        color: var(--border);
        margin-right: 10px;
    }

    .navbar-item {
        width: 200px;
        height: 40px;
        span {
            color: var(--text-color);
        }
    }
}
