.wrapper {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 0 4rem;
    background-color: var(--text-color);
}

.container {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// ============ [Navbar] ============
.search {
    width: auto;
    height: 40px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 500px 40px;
    input {
        width: 500px;
        height: 100%;
        padding: 0 10px;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background-color: var(--bg-session);

        &:focus {
            outline: none;
            border: none;
        }
    }

    span {
        width: 40px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: var(--bg-session);
    }
}

.right {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    justify-content: center;
    background-color: aqua;
}

.dot {
    width: 40px;
    height: 40px;
}
